<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.master.sirekom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rd_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CekCocok.CekCocok"></activity>
        <activity android:name=".CekCocok.GetNilaiHsvBaju" />
        <activity android:name=".CekCocok.CamKecBaju" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBarFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PilihanWarna.Kamera" />
        <activity android:name=".PilihanWarna.Hasilpilihanjilbab" />
        <activity android:name=".CekCocok.WarJilBaTikSer" />
        <activity android:name=".PilihanWarna.WarnaDominan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>